 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1025px;
}

.u-section-1 .u-image-1 {
  width: 407px;
  height: 395px;
  animation-duration: 1000ms;
  margin: 59px auto 0 16px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 9rem;
  font-family: Montserrat, sans-serif;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -348px 616px 0 340px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
  animation-duration: 1000ms;
  font-weight: 600;
  margin: -157px 97px 0 531px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  line-height: 0.8;
  animation-duration: 1000ms;
  font-weight: 800;
  margin: 7px 199px 0 529px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-family: Montserrat, sans-serif;
  line-height: 1.4;
  animation-duration: 1000ms;
  margin: 33px 122px 0 529px;
}

.u-section-1 .u-shape-1 {
  width: 155px;
  height: 155px;
  animation-duration: 1000ms;
  margin: -306px auto 0 -113px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 191px 389px 0 auto;
  padding: 10px 37px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: -40px 115px 0 auto;
  padding: 10px 37px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 0px;
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
  animation-duration: 1000ms;
  font-weight: 600;
  margin: 109px 570px 0 58px;
}

.u-section-1 .u-list-1 {
  width: 1060px;
  height: auto;
  min-height: 245px;
  margin: 38px 21px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  grid-gap: 26px 26px;
  min-height: 245px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  animation-duration: 1000ms;
  font-weight: 600;
  margin: 61px -7px 0 40px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  line-height: 1.6;
  animation-duration: 1000ms;
  margin: 21px 28px 0 38px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  animation-duration: 1000ms;
  font-weight: 600;
  margin: 61px -7px 0 40px;
}

.u-section-1 .u-text-9 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  line-height: 1.6;
  animation-duration: 1000ms;
  margin: 21px 28px 0 38px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  animation-duration: 1000ms;
  font-weight: 600;
  margin: 61px -7px 0 40px;
}

.u-section-1 .u-text-11 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  line-height: 1.6;
  animation-duration: 1000ms;
  margin: 21px 28px 0 38px;
}

.u-section-1 .u-image-2 {
  width: 58px;
  height: 58px;
  animation-duration: 1000ms;
  margin: -261px 257px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 59px;
  height: 59px;
  animation-duration: 1000ms;
  margin: -54px auto 0 456px;
}

.u-section-1 .u-image-4 {
  width: 59px;
  height: 59px;
  animation-duration: 1000ms;
  margin: -62px auto 0 95px;
}

.u-section-1 .u-shape-2 {
  width: 104px;
  height: 104px;
  animation-duration: 1000ms;
  margin: 137px -157px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 215px;
  height: 215px;
  animation-duration: 1000ms;
  margin: -347px -157px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -308px;
    margin-right: 0;
    margin-left: 756px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -193px;
    margin-right: -33px;
    margin-left: 461px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 67px;
    margin-left: 461px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: -10px;
    margin-left: 461px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -323px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 207px;
    margin-right: 227px;
    padding-right: 57px;
    padding-left: 57px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    margin-right: 239px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 89px;
    margin-right: 428px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 56px;
    min-height: 217px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 260px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: -25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 13px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: -25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 13px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: -25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 13px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -300px;
    margin-right: 208px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -50px;
    margin-left: 356px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -58px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-1 .u-image-1 {
    width: 312px;
    height: 303px;
    margin-top: 36px;
    margin-left: -8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -294px;
    margin-right: 19px;
    margin-left: 517px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -117px;
    margin-left: 351px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.375rem;
    margin-top: 5px;
    margin-right: 56px;
    margin-left: 351px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 19px;
    margin-right: 56px;
    margin-left: 351px;
  }

  .u-section-1 .u-shape-1 {
    width: 96px;
    height: 96px;
    margin-top: -253px;
    margin-left: -89px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 192px;
    margin-right: 107px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 230px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -151px;
    margin-right: 208px;
  }

  .u-section-1 .u-list-1 {
    min-height: 499px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
  }

  .u-section-1 .u-text-6 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -260px;
    margin-right: auto;
    margin-left: 27px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -325px;
    margin-right: 268px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -59px;
    margin-left: 26px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 373px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -295px;
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -162px;
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -249px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 261px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 261px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 88px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -114px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-2 {
    width: 212px;
    margin-top: 126px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    width: 250px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 32px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -539px;
    margin-left: -66px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 475px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 83px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 608px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 56px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 14px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 56px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 14px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 56px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.875rem;
    margin-top: 14px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -201px;
    margin-left: 31px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -274px;
    margin-left: 33px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -266px;
    margin-left: 31px;
  }
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-btn-2 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 474px;
}

.u-section-2 .u-shape-1 {
  width: 355px;
  height: 36px;
  margin: 89px auto 0 366px;
}

.u-section-2 .u-shape-2 {
  width: 311px;
  height: 36px;
  margin: 3px 182px 0 auto;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  font-size: 9rem;
  font-family: Montserrat, sans-serif;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -91px 904px 0 35px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: -39px 86px 0 264px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-family: Inter;
  font-weight: 800;
  animation-duration: 1000ms;
  line-height: 1.25;
  margin: -245px 109px 60px 264px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 86px;
    margin-right: 219px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 59px;
    margin-right: 707px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -37px;
    margin-right: 60px;
    margin-left: 164px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -276px;
    margin-right: -27px;
    margin-left: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 122px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 11px;
    margin-right: 94px;
    margin-left: -94px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -7px;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -288px;
    margin-right: 0;
    margin-left: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    margin-top: 214px;
    margin-right: 185px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 339px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -56px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -364px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 358px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 70px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -228px;
    margin-right: 139px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -64px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -506px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1354px;
}

.u-section-3 .u-shape-1 {
  width: 123px;
  height: 123px;
  animation-duration: 1000ms;
  margin: 60px auto 0 495px;
}

.u-section-3 .u-shape-2 {
  width: 341px;
  height: 341px;
  animation-duration: 1000ms;
  margin: -23px 214px 0 auto;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  font-size: 9rem;
  font-family: Montserrat, sans-serif;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -417px 911px 0 7px;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  font-size: 9rem;
  font-family: Montserrat, sans-serif;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -39px 294px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 500px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-3 .u-text-3 {
  font-family: Inter;
  font-weight: 900;
  animation-duration: 1000ms;
  margin: 57px 0 0;
}

.u-section-3 .u-text-4 {
  font-family: Inter;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 29px 20px 0 0;
}

.u-section-3 .u-text-5 {
  font-family: Inter;
  animation-duration: 1000ms;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 250px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 250px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 250px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-shape-3 {
  width: 535px;
  left: 0;
  right: auto;
}

.u-section-3 .u-text-6 {
  font-family: Inter;
  font-weight: 900;
  animation-duration: 1000ms;
  margin: 67px 66px 0 46px;
}

.u-section-3 .u-text-7 {
  font-family: Inter;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 28px 47px 0;
}

.u-section-3 .u-text-8 {
  font-family: Inter;
  animation-duration: 1000ms;
  font-weight: 500;
  margin: 20px 47px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 61px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 55px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 718px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 94px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 206px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 206px;
  }

  .u-section-3 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 412px;
  }

  .u-section-3 .u-shape-3 {
    width: 455px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1967px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 498px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 316px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 316px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3073px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 219px;
    margin-left: 417px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -103px;
    margin-right: 199px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 318px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2193px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -203px;
    margin-left: 217px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-top: 319px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -416px;
    margin-right: 118px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 298px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 298px;
  }

  .u-section-3 .u-shape-3 {
    width: 340px;
  }
}